.link {
  &,
  & a {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: 0 !important;
  }

  @media (max-width: 920px) {
    display: none;
  }
}

.link {
  a {
    &,
    &:link,
    &:hover {
      color: inherit;
      text-decoration: inherit;
    }
  }
}
