/*
 * Beware, scss files MUST not start with numbers or they won't be included in final bundle
 * /shrug
 */

@import '../../../styles/mixins';

.main {
  align-self: center;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  p {
    font-size: 1em;
  }
}
