.slide {
  max-width: 1500px !important;
}

.table {
  margin-top: 2rem;

  td {
    background-color: #cfd8dc;
    text-align: left;

    padding: 2rem 1rem;

    font-size: 30px;
  }

  .note {
    background-color: lighten(#cfd8dc, 10%);
    //    background-color: white;
  }

  .difficulty {
    background-color: lighten(#cfd8dc, 5%);

    text-align: center;

    &.easy {
      background-color: lighten(#2ecc71, 20%);
    }

    &.medium {
      background-color: lighten(#e67e22, 20%);
    }

    &.hard {
      background-color: lighten(#e74c3c, 20%);
    }

    & span {
      position: relative;

      &::after {
        position: absolute;
      }

      &[data-trend='up']::after {
        content: '⬆';
        transform: rotate(45deg);
      }

      &[data-trend='down']::after {
        content: '⬇';
        transform: rotate(-45deg);
      }
    }
  }
}

.title {
  text-align: left;
}
