.slide {
  max-width: 1500px !important;
}

.note {
  color: white;

  &.easy {
    background-color: #2ecc71;
  }

  &.medium {
    background-color: #e67e22;
  }

  &.hard {
    background-color: #e74c3c;
  }
}

.table {
  margin-top: 2rem;

  td {
    border-color: #cfd8dc;
    text-align: left;

    padding: 1rem;

    font-size: 30px;
  }

  .keyword {
    text-align: right;
  }

  pre {
    margin: 0;
  }
}

.title {
  text-align: left;
}
