/* You can add global styles to this file, and also import other style files */

code {
  font-family: 'Fira CodeVariable', 'Fira Code', monospace !important;
}

@media (max-width: 920px) {
  * {
    font-size: 1rem !important;
  }

  h1 {
    font-size: 3rem !important;
  }

  [style^='position: fixed;'] {
    border-width: 1px !important;
    font-size: 1rem !important;
    position: absolute !important;
  }

  table {
    td,
    th {
      padding: 0.1rem !important;
    }
  }
}

.spectacle-presenter-main,
.spectacle-presenter-main + div {
  *,
  code,
  code * {
    font-size: 1rem !important;
  }

  pre,
  pre * {
    line-height: 1rem;
  }

  h1 {
    font-size: 3rem !important;
  }

  position: relative;
  [style^='position: fixed;'] {
    border-width: 1px !important;
    font-size: 1rem !important;
    position: absolute !important;
  }

  table {
    td,
    th {
      padding: 0.1rem !important;
    }
  }
}
